<div class="container">


    <div class="searchshow">
        <div class="row">


            <div class="col-sm-6 ">
                <img class="whitelogo" src="../../assets/images/Horizontal-Logo_White.png">

            </div>
            <div class="col-sm-6 ">
                <img class="crosslogo" (click)="closesearch()" src="../../assets/images/whitecross.png">

            </div>



        </div>

        <div class="container text-center ">
            <button class="searchbuttons margintp bordernone"> Login </button> <button class="searchbuttons margintp "
                style=" border: none;" (click)="routeToRegister()"> Register </button>
            <!-- <hr> -->



            <div class="text-center">

                <form [formGroup]="myForm" novalidate (ngSubmit)="login()">

                    <input type="text" class="getInspiredInput" placeholder="Contact Number" formControlName="email"
                        [ngStyle]="{
                  'border-bottom': email.invalid && (email.dirty || email.touched  )  ? '1px solid red' : '1px solid white' }">
                    <div *ngIf="email.errors && (email.dirty || email.touched ) ">
                        <p *ngIf="email.errors.required" class="errorText"> Mobile Number is required</p>
                        <p class="errorText" *ngIf="email.errors.minlength">Mobile Number must contain atleast 10
                            numbers</p>
                        <p class="errorText" *ngIf="email.errors.maxlength">Mobile Number must be less than 10 numbers</p>
                    </div>



                    <input type="password" class="getInspiredInput" placeholder="Password" formControlName="password"
                        [ngStyle]="{
                    'border-bottom': password.invalid && (password.dirty || password.touched  )  ? '1px solid red' : '1px solid white' }">
                    <div *ngIf="password.errors && (password.dirty || password.touched)">
                        <p class="errorText" *ngIf="password.errors.required">Password is required</p>

                    </div>

                    <div class="text-center">
                        <p class="errorText text-center" *ngIf="notvalid">Please fill all the Details</p>
                        <button type="submit" class="searchbuttons " style="    margin-top: 1%;"> Submit</button>
                    </div>

                </form>
            </div>




        </div>


    </div>


</div>